<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<body>

<div  class="main-container" layout:fragment="content">
    <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="title">
                                <h4> Resource Center</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a  th:href="@{/dashboard}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Resource Download
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        [[${text}]]
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <th:block th:each="r :${resource}">
                        <div class="col-sm-12 col-md-4 mb-30">
                            <div class="card card-box text-right">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${r.getDocument_Name()}"></h5>
                                    <p class="card-text">
                                       <span th:text="${r.getSubCategory()}"></span>
                                        <span>[[${r.getSize()}]]KB</span>
                                    </p>
                                    <a th:href="@{'/download?id= ' +${r.getId()}}" class="btn btn-primary">Download</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
    </div>
</div>

</body>
</html>