<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<body>

<div class="main-container" layout:fragment="content">
  <div class="pd-ltr-20 customscroll-10-p height-100-p xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>Experiments</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a th:href="@{/dashboard}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                 Science Experiments
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>


      <div class="pd-20 card-box mb-30">
        <div class="clearfix mb-20">
          <div class="pull-left">
            <h4 class="text-blue h4">YouTube Video</h4>
          </div>
        </div>
        <div class="container">
          <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
        </div>
      </div>

    </div>
  </div>
</div>
<th:script>
    plyr.setup({
      tooltips: {
        controls: !0,
      },
    });
</th:script>
</body>
</html>


