<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title th:text="#{welcome}"></title>

    <!-- Site favicon -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            th:href="@{vendors/images/apple-touch-icon.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            th:href="@{vendors/images/favicon-32x32.png}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            th:href="@{vendors/images/favicon-16x16.png}"
    />

    <!-- Mobile Specific Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{vendors/styles/core.css}" />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{vendors/styles/icon-font.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{src/plugins/jquery-steps/jquery.steps.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{vendors/styles/style.css}" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
</head>

<body class="login-page">
<div class="login-header box-shadow">
    <div
            class="container-fluid d-flex justify-content-between align-items-center"
    >
        <div class="brand-logo">
            <h3 style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;margin-top: 10px;color: #1c7430"
            ><strong>STEM E-Learning Platform</strong></h3>
        </div>
        <div class="login-menu">
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div
        class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="vendors/images/register-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="register-box bg-white box-shadow border-radius-10">
                    <div class="wizard-content">
                        <form th:action="@{/tutor-register}" th:object="${tutor}" method="post" class="tab-wizard2 wizard-circle wizard">
                            <h5>Basic Account Credentials</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div th:if="${param.success}">
                                        <div class="alert alert-success" role="alert">
                                            tutor successfully created !!
                                        </div>
                                    </div>
                                    <div th:if="${error!=null}">
                                        <div class="alert alert-danger" role="alert">
                                          error: some fields are empty !!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Email Address*</label
                                        >
                                        <div class="col-sm-8">
                                            <input th:field="*{email}" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Username*</label>
                                        <div class="col-sm-8">
                                            <input th:field="*{userName}" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Password*</label>
                                        <div class="col-sm-8">
                                            <input  th:field="*{password}" type="password" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Confirm Password*</label
                                        >
                                        <div class="col-sm-8">
                                            <input th:field="*{password}"  type="password" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 2 -->
                            <h5>Personal Information</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >First Name*</label
                                        >
                                        <div class="col-sm-8">
                                            <input th:field="*{firstName}"  type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Last Name*</label
                                        >
                                        <div class="col-sm-8">
                                            <input th:field="*{lastName}" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center">
                                        <label class="col-sm-4 col-form-label">Gender*</label>
                                        <div class="col-sm-8">
                                            <div
                                                    class="custom-control custom-radio custom-control-inline pb-0"
                                            >
                                                <input
                                                        type="radio"
                                                        id="male"
                                                        name="gender"
                                                        class="custom-control-input"
                                                        th:value="${gender}"
                                                />
                                                <label class="custom-control-label" for="male"
                                                >Male</label
                                                >
                                            </div>
                                            <div
                                                    class="custom-control custom-radio custom-control-inline pb-0"
                                            >
                                                <input
                                                        type="radio"
                                                        id="female"
                                                        name="gender"
                                                        class="custom-control-input"
                                                        th:value="${gender}"
                                                />
                                                <label class="custom-control-label" for="female"
                                                >Female</label
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Address*</label>
                                        <div class="col-sm-8">
                                            <input   th:field="*{address}" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 3 -->
                            <h5>Tutor Information</h5>
                            <section>
                                <div class="form-wrap max-width-600 mx-auto">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Tutor Level</label
                                        >
                                        <div class="col-sm-8">
                                            <select
                                                    class="form-control selectpicker"
                                                    title="Select Student Level"
                                                    th:field="*{level}"

                                            >
                                                <option th:each="l :${LevelList}" th:value="${l}" th:text="${l}">form one</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-sm-4 col-form-label"
                                        >Tutor School Name</label
                                        >
                                        <div class="col-sm-8">
                                            <input th:field="*{schoolName}" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tutor School Address</label>
                                        <div class="col-sm-8">
                                            <input th:field="*{schoolAddress}" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                        >Tutor Subject</label
                                        >
                                        <div class="col-sm-8">
                                            <select
                                                    class="form-control selectpicker"
                                                    title="Select Student Level"
                                                    th:field="*{subject}"

                                            >
                                                <option th:each="s :${SubjectList}" th:value="${s}" th:text="${s}">form one</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </section>

                            <button
                                    type="button"
                                    id="success-modal-btn"
                                    hidden
                                    data-toggle="modal"
                                    data-target="#success-modal"
                                    data-backdrop="static"
                            >
                                Launch modal
                            </button>
                            <div
                                    class="modal fade"
                                    id="success-modal"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="exampleModalCenterTitle"
                                    aria-hidden="true"
                            >
                                <div
                                        class="modal-dialog modal-dialog-centered max-width-400"
                                        role="document"
                                >
                                    <div class="modal-content">
                                        <div class="modal-body text-center font-18">
                                            <h3 class="mb-20">Confirm</h3>
                                            <div class="mb-30 text-center">
                                                <img th:src="@{vendors/images/success.png}" />
                                            </div>
                                            Are You Sure You Want to Submit.
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- success Popup html End -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js -->
<script th:src="@{vendors/scripts/core.js}"></script>
<script th:src="@{vendors/scripts/script.min.js}"></script>
<script th:src="@{vendors/scripts/process.js}"></script>
<script th:src="@{vendors/scripts/layout-settings.js}"></script>
<script th:src="@{src/plugins/jquery-steps/jquery.steps.js}"></script>
<script th:src="@{vendors/scripts/steps-setting.js}"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
