<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<body>

<div  class="main-container" layout:fragment="content">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Chat History</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/dashboard}">Home</a>
                                </li>
                                <li  class="breadcrumb-item a" aria-current="page">
                                    <a th:href="@{/chat}">chat</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    export
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a
                                    class="btn btn-primary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                            >
                                January 2018
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Export Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">

                </div>
                <div class="pb-20">
                    <table
                            class="table hover multiple-select-row data-table-export nowrap"
                    >
                        <thead>
                        <tr>
                            <th>Message ID</th>
                            <th>Date</th>
                            <th>Sender</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="msg :${message}">
                            <td th:text="${msg.id}"></td>
                            <td th:text="${#temporals.format(msg.createdDate, 'dd-MM-yyyy hh:mm')}"></td>
                            <td th:text="${msg.sender}"></td>
                            <td class="table-plus" th:text="${msg.content}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Export Datatable End -->
        </div>
    </div>
</div>

</body>
</html>